<div class="relative rounded-lg overflow-x-auto">

  <div class="flex flex-row justify-between items-start">
    <div class="p-5">
      <strong class="text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">Rooms</strong>
      <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of all existing rooms, add new rooms, edit or delete existing ones.</p>
    </div>
    <div class="p-5">
      <app-button [routerLink]="'/rooms/create'" [text]="'Add Room'" />
    </div>
  </div>

  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          ID
        </th>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of rooms" class="bg-white border-b last:border-b-0 dark:bg-gray-800 dark:border-gray-700">
        <td class="px-6 py-4">
          {{ item.id }}
        </td>
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ item.name }}
        </th>
        <td class="px-6 py-4 text-right">
          <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
             [routerLink]="[ '/rooms', item.id, 'edit' ]"
             >Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
